<h1>Daily Standup</h1>
<p>
  <% if logged_in? %>
    Welcome <%= current_user.name %>! <%= link_to "logout", logout_path, method: :delete %>
  <% else %>
    Welcome! Please <%= link_to "login", login_path %>
  <% end %>
</p>
