<h1>Daily Standup</h1>
<% @groups.each do |group| %>
  <h3><%= group.name %></h3>
  <p>Today <%= pluralize group.posts_for(Date.today).count, "post" %> -
     Yesterday <%= pluralize group.posts_for(Date.yesterday).count, "post" %></p>
<% end %>
